//src/components/Canvas/CanvasComponent/CanvasComponent.scss

.teeth {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px dashed black;

  .tooth {
    align-items: center;
  }
}
