// src/components/Canvas/CanvasComponent/CanvasComponent.scss

.teeth {
  display: block;
  justify-content: center;
  text-align: center;
  border: 1px dashed black;
  align-items: center;

  .tooth {
    align-items: center;
  }
}
