// src/components/ToothWheel/ToothWheel.scss
@use "../../styles/variables";

.tooth-wheel {
  position: relative;
  z-index: 100;
  flex: none;
  display: flex;
  overflow: hidden;
  min-width: 176px;
  max-width: 20.833%;
  user-select: none;

  .navigation {
    color: variables.$text-color;
    background-color: variables.$dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    padding: 16px 0;
    text-align: center;

    li {
      font-size: 12px;
      line-height: 16px;
      flex: 1 1;
      max-height: 32px;

      button {
        background: none;
        border: none;
        color: inherit;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      &.active {
        color: #fff;
        position: relative;

        &:before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          left: 0;
          border: 6px solid transparent;
          border-left-color: variables.$primary-color;
          pointer-events: none;
        }
      }
    }
  }

  .viewport {
    overflow: hidden;
    width: 20.833vh;
    min-width: 136px;
    max-width: 320px;
    border-right: 1px solid variables.$border-color;
    background: variables.$light-gray;

    .track {
      /* Implement scrolling functionality */
      cursor: grab;
    }

    .teeth {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .tooth {
        /* Styles for individual tooth representations */
      }
    }
  }
}
