// src/components/Pathology/ActionButtons.scss
@use "sass:color";
@use "../../styles/variables";

.actions {
  display: flex;
  gap: 8px;
  margin-top: 32px;

  .button {
    flex: 1;
    padding: 12px 24px;
    border: none;
    border-radius: variables.$border-radius;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: background-color variables.$transition-duration;

    &.monitor {
      color: #202633;
      background-color: variables.$highlight-color;
    }

    &.treat {
      background-color: variables.$danger-color;
    }

    &.save {
      background-color: variables.$primary-color;
    }

    &:active {
      background-color: color.adjust(variables.$primary-color, $lightness: -10%);
    }
  }
}
