// src/components/Pathology/Pathology.scss
@use "sass:color";
@use "../../styles/variables";

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 32px 40px;
  padding-bottom: 0;
  background: variables.$light-gray;

  .heading {
    font-weight: 300;
    color: variables.$dark-gray;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .pathology-types {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      padding: 0 16px;
      border-radius: variables.$border-radius;
      background-color: #fff;
      box-shadow: 0 2px 0 0 variables.$border-color;
      font-size: 12px;
      font-weight: 600;
      color: variables.$secondary-color;
      cursor: pointer;
      transition: background-color variables.$transition-duration,
        color variables.$transition-duration;
      line-height: 16px;
      text-align: center;
      user-select: none;
      border: none;

      &:hover {
        color: #fff;
        background-color: color.adjust(
          variables.$button-hover-color,
          $lightness: 25%
        );
      }

      &.active {
        color: #fff;
        background-color: variables.$text-color;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 28px;
    color: variables.$input-border-color;
    font-size: 21px;
    text-decoration: none;
    line-height: 1;
    background: none;
    border: none;
    cursor: pointer;
  }
}
