// src/components/Welcome/Welcome.scss
@use "sass:color";
@use "../../styles/variables";

.welcome {
  display: flex;
  flex-direction: column;
  height: 100%;

  .welcome-nav {
    padding: 1rem;
    border-bottom: 1px solid variables.$border-color;

    a {
      color: variables.$primary-color;
      font-weight: 600;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: variables.$border-radius;
      transition: background-color variables.$transition-duration;

      &:hover {
        background-color: color.adjust(variables.$light-gray, $lightness: -5%);
      }
    }
  }

  .welcome-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    overflow: auto;
  }

  .patient-history {
    display: block;
    justify-items: left;
    padding: 0.5rem 1.5rem;
  }
}
