// src/components/Buttons/SecondaryButtons/SecondaryButtons.scss
@use "sass:color";
@use "../../../styles/variables";

.secondary-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .secondary-group {
    display: flex;
    flex-direction: column;

    .secondary-button {
      padding: 10px 15px;
      font-size: 14px;
      border: none;
      border-radius: variables.$border-radius;
      background-color: variables.$secondary-color;
      color: variables.$white-color;
      cursor: pointer;
      transition: background-color variables.$transition-duration;
      width: 100%;

      &.active {
        background: variables.$white-color;
        color: variables.$dark-color;
      }

      &:hover {
        background-color: color.adjust(
          variables.$secondary-color,
          $lightness: -5%,
          $space: hsl
        );
      }
    }

    .sub-menu {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 100%;

      .main-button {
        padding: 0.5rem;
        background: variables.$white-color;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
        color: variables.$info-color;
        transition: background variables.$transition-duration,
          color variables.$transition-duration;
        width: 100%;

        &.active {
          background: #6c7a89;
          color: variables.$white-color;
          border: none;
        }
      }
    }
  }
}
