// src/components/Buttons/MainButtons/MainButtons.scss
@use "sass:color";
@use "../../../styles/variables";

.main-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;

  .main-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-color;
    color: variables.$white-color;
    cursor: pointer;
    transition: background-color variables.$transition-duration;
    width: 100%;

    &:hover {
      background-color: color.adjust(
        variables.$primary-color,
        $lightness: -10%,
        $space: hsl
      );
    }

    &.active {
      background: #6c7a89;
      color: variables.$white-color;
      border: none;
    }
  }
}
