// src/styles/_variables.scss

// Colors
$primary-color: #003032;
$secondary-color: #33a186;
$background-color: #f2fff5;
$text-color: #7a8599;
$light-gray: #f2f7f3;
$dark-gray: #2e3c2e;
$border-color: #e6ebe7;
$button-hover-color: #1e573a;
$highlight-color: #ffd00a;
$danger-color: #e13830;
$input-border-color: #c1ccbc;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Misc
$border-radius: 6px;
$transition-duration: 0.2s;
$box-shadow: 0 2px 0 0 $border-color;
