// src/styles/_variables.scss

// Color Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #e74c3c;
$warning-color: #f1c40f;
$info-color: #2196f3;
$light-color: #f5f5f5;
$dark-color: #000;
$gray-color: #ccc;
$white-color: #fff;

// Font Variables
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
  sans-serif;

// Border Radius
$border-radius: 5px;

// Transition Duration
$transition-duration: 0.3s;
