// src/styles/_variables.scss

// Colors
$primary-color: #008fd6;
$secondary-color: #33a5de;
$background-color: #fff;
$text-color: #7a8599;
$light-gray: #f2f4f7;
$dark-gray: #2e333c;
$border-color: #e6e7eb;
$button-hover-color: #0075b0;
$highlight-color: #ffd00a;
$danger-color: #e13830;
$input-border-color: #bcc1cc;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Misc
$border-radius: 6px;
$transition-duration: 0.2s;
$box-shadow: 0 2px 0 0 $border-color;
