/* src/components/Buttons/ActionButtons/ActionButtons.css */
.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: auto;
}

.action-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  flex: 1;
  margin: 0 0.5rem;
  text-align: center;
}

.action-button:first-child {
  margin-left: 0;
}

.action-button:last-child {
  margin-right: 0;
}

.action-button:hover {
  opacity: 0.8;
  background-color: #218838;
}

.monitor {
  background: #f1c40f;
}

.treat {
  background: #e74c3c;
}

.save {
  background: #2196f3;
}
