/* src/components/ToothView/ToothView.css */
.tooth-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.tooth-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  overflow: visible;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.uploaded-image-front-view {
  padding: 1vh 0;
  height: 38vh;
  object-fit: fill;
  border-radius: 8px;
  border: 2px dashed #7f18a8;
}

.uploaded-image-top-view {
  padding: 1vh 0;
  height: 18vh;
  object-fit: cover;
  border-radius: 8px;
  border: 2px dashed #a87a18;
}

.uploaded-image-side-view {
  padding: 1vh 0;
  height: 38vh;
  object-fit: scale-down;
  border-radius: 8px;
  border: 2px dashed #187aa8;
}

/* TODO: Map this with 3 images */
.no-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 1rem;
}

.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svg-overlay path {
  pointer-events: all;
}

.svg-overlay path:hover {
  opacity: 0.8;
}
