// src/components/Buttons/SubButtons/SubButtons.scss
@use "sass:color";
@use "../../../styles/variables";

.sub-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;

  .sub-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: variables.$border-radius;
    background-color: variables.$secondary-color;
    color: variables.$white-color;
    cursor: pointer;
    transition: background-color variables.$transition-duration;
    width: 100%;

    &:hover {
      background-color: color.adjust(
        variables.$secondary-color,
        $lightness: -5%,
        $space: hsl
      );
    }

    &.active {
      background: whitesmoke;
      color: #6c7a89;
      border: none;
    }
  }
}
