// src/components/Sidebar/Sidebar.scss
@use "../../styles/variables";

aside {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 64px;
  color: #fff;
  background: variables.$primary-color;

  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      text-align: center;

      &.primary {
        opacity: 0.5;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        color: #fff;
        text-decoration: none;

        &.back {
          background: variables.$secondary-color;
        }
      }
    }
  }
}
