// src/components/Sidebar/Sidebar.scss
@import "../../styles/variables";

aside {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 64px;
  background: $primary-color;
  color: #fff;

  nav ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    li {
      text-align: center;

      &.primary {
        opacity: 0.5;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        color: #fff;
        text-decoration: none;

        &.back {
          background: $secondary-color;
        }
      }
    }
  }
}
