// src/components/Canvas/Canvas.scss
@use "sass:color";
@use "../../styles/variables";

.canvas {
  display: flex;
  height: 100%;
  width: 40vh;
  min-width: 320px;
  max-width: 40%;
  border: 1px solid;
  border-color: color.adjust(variables.$input-border-color, $lightness: 10%);
  background-color: color.adjust(variables.$light-gray, $lightness: -3%);
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}
