// src/components/ToothNumbers/ToothNumbers.scss
@import "../../styles/variables";

.tooth-numbers {
  width: 60px;
  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  height: 100%;

  .tooth-number-button {
    flex: 1;
    background-color: $dark-color;
    color: $white-color;
    border: none;
    border-bottom: 1px solid #333;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    width: 100%;

    &.active {
      background-color: #555;
    }

    &:hover {
      background-color: #333;
    }
  }
}
