/* src/components/ToothNumbers/ToothNumbers.css */
.tooth-numbers {
  width: 60px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tooth-number-button {
  flex: 1;
  background-color: #000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #333;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  width: 100%;
}

.tooth-number-button.active {
  background-color: #555;
}

.tooth-number-button:hover {
  background-color: #333;
}
