// src/App.scss
@use "styles/variables";

.app {
  display: flex;
  height: 100vh;

  [data-view="nav-bar"] {
    display: flex;
  }

  [data-view="main-container"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  [data-view="patient-view"] {
    display: flex;
    flex: 1;
    overflow: auto;
  }
}
