// src/App.scss
@use "styles/variables";

.app {
  display: flex;
  height: 100vh;

  [data-view="nav-bar"] {
    display: flex;
  }

  [data-view="patient-view"] {
    display: flex;
    flex: 1;
  }
}
